header {
    background: #333;
    color: white;
    text-align: center;
    padding: 20px;
}

.content {
    display: block;
    padding: 10px;
}

.post {
    background: #f2f2f2;
    margin: 10px 0;
    padding: 20px;
    border-radius: 5px;
    height: 50vh;
}

/* Tablet (min-width: 768px) */
@media (min-width: 768px) {
    .content {
        display: flex;
        gap: 20px;
    }

    .post {
        flex: 1;
        margin: 0;
    }
}

@media (min-width: 1024px) {
    .post {
        padding: 40px;
    }
}